.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0;
  background-color: #fff;

  .title {
    font-family: "PangMenZhengDao-XiXian", sans-serif;
    font-size: 32px;
    transition: ease-in-out;
    transition-duration: 0.4s;
  }
}
